<button class="toggle-btn" (click)="toggleMenu()">&#9776;</button>
<div class="sidebar" [class.open]="isOpen">
    <button class="toggle-btn toggle-btn-open" (click)="toggleMenu()">&#9776;</button>
    <nav>
        <ul>
            <li><a routerLink="/">{{ 'HOME' | translate }}</a></li>
            <li><a routerLink="/songs">{{ 'SONGS' | translate }}</a></li>
            <li><a routerLink="/artists">{{ 'ARTISTS' | translate }}</a></li>
            <li><a routerLink="/companies">{{ 'COMPANIES' | translate }}</a></li>
        </ul>
    </nav>
</div>
